header.header
  .container 
    .header__wrapper
      a.header__logo(href="/") 
        img.header__logo-img(src=require("images/logo.svg"), alt="Logo")
      nav.nav.js-open-nav 
        ul.nav__list 
          li.nav__item
            a.nav__link(href="#") Platform
          li.nav__item
            a.nav__link(href="#") Solutions
          li.nav__item
            a.nav__link(href="#") Resources
          li.nav__item
            a.nav__link(href="#") Developers
          li.nav__item
            a.nav__link(href="#") Company
          li.nav__item
            a.nav__link(href="#") Pricing
      .header__buttons 
        .header__burger.js-burger
          span.header__burger-item
        button.header__button-signip(type="button") Sign in
        button.header__button-start(type="button")  Start Free
