section.dive
  .container 
    .dive__wrapper
      .dive__inner
        span.dive__subtitle Resources
        span.dive__title  A deep dive into the&nbsp;lonic&nbsp;stack.
      .dive__inner
        p.dive__text Our Articles, Webinars, and Case Studies give you the education and insights you need to succeed with Ionic.
        button.dive__btn(type="button") Visit our Resource Center
    .dive__cards 
      .dive__card 
        img.dive__card-img(src="images/dive-1.jpg", alt="Dive card 1")
        span.dive__card-title Webinars
        p.dive__card-text Live and recorded tech talks, product demos, and deep dives with industry experts.
      .dive__card 
        img.dive__card-img(src="images/dive-2.jpg", alt="Dive card 1")
        span.dive__card-title Articles
        p.dive__card-text Timely perspectives on industry news, product updates, and competitive comparisons.
      .dive__card 
        img.dive__card-img(src="images/dive-3.jpg", alt="Dive card 1")
        span.dive__card-title Case Studies
        p.dive__card-text Real customers, in their own words, on why they chose Ionic and what it’s meant for them.
      .dive__card 
        img.dive__card-img(src="images/dive-4.jpg", alt="Dive card 1")
        span.dive__card-title Videos
        p.dive__card-text Watch recorded demos, conference talks, deep dive trainings and more.