extends /layout/app

block content
  include /pages/home/intro/index
  include /pages/home/development/index
  include /pages/home/companies/index
  include /pages/home/approach/index
  include /pages/home/action/index
  include /pages/home/facts/index
  include /pages/home/dive/index
  include /pages/home/get-up/index
