section.facts
  .container 
    .facts__wrapper 
      img.facts__img(src=require("images/facts-img.png"), alt="Facts image")
      .facts__content 
        h2.facts__content-title Get the facts you need to make the right decision. 
          span.facts__content-title.facts__content-title--regular We wrote a guide on everything you need to know.
        button.facts__content-btn(type="button")  Read our free eBook