section.get-up
  .get-up-wrapper 
    .get-up-left
      span.get-up-left__title Get up and running with Ionic quickly.
    .get-up-right
      button.get-up-right__btn.get-up-right__btn--blue(type="button") Get a free demo
      button.get-up-right__btn.get-up-right__btn--transparent(type="button") Talk to sales