section.intro
  .container 
    .intro__wrapper 
      h1.intro__title A better way to build modern apps at scale.
      p.into__text Our suite of developer-friendly products helps you build, secure, and deliver enterprise-grade apps on any platform-with support from the Ionic team every step of the way.
      .intro__buttons 
        button.intro__button-started(type="button") Get Started
        button.intro__button-talk(type="button") Talk to sales