footer.footer 
  .container 
    .footer__columns 
      .footer__column
        a.footer__logo(href="#") 
          img.footer__logo-img(src="images/logo.svg", alt="Logo")
      .footer__column 
        span.footer__column-title The Platform
        ul.footer__column-list 
          li.footer__column-item 
            a.footer__column-link(href="#") Overview
          li.footer__column-item 
            a.footer__column-link(href="#") Build
          li.footer__column-item 
            a.footer__column-link(href="#") Secure
          li.footer__column-item 
            a.footer__column-link(href="#") Deliver
          li.footer__column-item 
            a.footer__column-link(href="#") Why Ionic?
      .footer__column 
        span.footer__column-title Products
        ul.footer__column-list 
          li.footer__column-item 
            a.footer__column-link(href="#") Framework
          li.footer__column-item 
            a.footer__column-link(href="#") Capacitor
          li.footer__column-item 
            a.footer__column-link(href="#") Appflow
          li.footer__column-item 
            a.footer__column-link(href="#") Identity Vault
          li.footer__column-item 
            a.footer__column-link(href="#") Secure Storage
          li.footer__column-item 
            a.footer__column-link(href="#") Auth Connect
      .footer__column 
        span.footer__column-title Resources
        ul.footer__column-list 
          li.footer__column-item 
            a.footer__column-link(href="#") Resource Center
          li.footer__column-item 
            a.footer__column-link(href="#") Blog
          li.footer__column-item 
            a.footer__column-link(href="#") Articles
          li.footer__column-item 
            a.footer__column-link(href="#") Webinars
          li.footer__column-item 
            a.footer__column-link(href="#") Case Studies
          li.footer__column-item 
            a.footer__column-link(href="#") Videos
      .footer__column 
        span.footer__column-title Company
        ul.footer__column-list 
          li.footer__column-item 
            a.footer__column-link(href="#") About us
          li.footer__column-item 
            a.footer__column-link(href="#") Customers
          li.footer__column-item 
            a.footer__column-link(href="#") Contact
          li.footer__column-item 
            a.footer__column-link(href="#") Careers
          li.footer__column-item 
            a.footer__column-link(href="#") Privacy
      .footer__column 
        span.footer__column-title Support
        ul.footer__column-list 
          li.footer__column-item 
            a.footer__column-link(href="#") Help Center
          li.footer__column-item 
            a.footer__column-link(href="#") Partners
          li.footer__column-item 
            a.footer__column-link(href="#") Advisory
          li.footer__column-item 
            a.footer__column-link(href="#") Enterprise Guide 
    .footer__wrapper 
      .footer__copyright
        span.footer__copyright-text Copyright © 2021Ionic
        a.footer__copyright-link(href="#") Terms
        a.footer__copyright-link(href="#") Privacy
      ul.footer__socials 
        li.footer__socials-item 
          a.footer__socials-link.footer__socials-link--twitter(href="#")  
        li.footer__socials-item 
          a.footer__socials-link.footer__socials-link--git(href="#")  
        li.footer__socials-item 
          a.footer__socials-link.footer__socials-link--facebook(href="#")  

