section.approach
  .container 
    .approach__wrapper
      .approach__content
        span.approach__subtitle Build / Secure / Deliver
        h2.approach__title The lonic approach.
      p.approach__text lonic’s full-service platform allows businesses to accelerate web-based app development without having to bring in outside talent.
    .approach__cards 
      .approach__card 
        img.approach__card-img(src=require("images/approach-1.svg"), alt="Card 1")
        span.approach__card-title Build
        p.approach__card-text Leverage the power of the web to build and develop better critical apps faster with your existing web talent.
      .approach__card 
        img.approach__card-img(src=require("images/approach-2.svg"), alt="Card 2")
        span.approach__card-title Secure
        p.approach__card-text Enjoy open source benefits with the security and peace of mind from enterprise grade support and reliability.
      .approach__card 
        img.approach__card-img(src=require("images/approach-3.svg"), alt="Card 3")
        span.approach__card-title Deliver
        p.approach__card-text Publish your apps with ease, deliver them continuously, and deploy live updates in minutes.